name: Publish

on:
  release:
    types: [published]

jobs:
  publish-platformio:
    name: Publish to PlatformIO
    runs-on: ubuntu-latest
    environment: platformio
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install platformio
        run: pip install --upgrade platformio
      - name: Publish package
        env:
          PLATFORMIO_AUTH_TOKEN: ${{ secrets.PLATFORMIO_AUTH_TOKEN }}
        run: pio package publish --owner stuartparmenter --non-interactive

  publish-espressif:
    name: Publish to Espressif
    runs-on: ubuntu-latest
    environment: espressif
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Publish package
        uses: espressif/upload-components-ci-action@v2
        with:
          version: ${{ github.event.release.tag_name }}
          components: |
            esp-hub75: components/hub75
          namespace: stuartparmenter
          api_token: ${{ secrets.ESPRESSIF_API_TOKEN }}
